simplet5
openai
einops
gradio
imageio
decord
imageio-ffmpeg
openmim
mmcv
spacy
decord
omegaconf
lvis
scipy
boto3
jsonschema
entrypoints
nltk
webdataset
accelerate
bitsandbytes
langchain==0.0.101
timm==0.4.12
transformers
fairscale==0.4.4
pycocoevalcap
setuptools 